<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<h1>home page</h1>
	<section>
		<div class="backimg">
			<div class="test-white text-center">
				<h1>ENotes- Save Noted</h1>
				<p>Start collecting your Notes is Very smarter way.We proviied
					very difficut and smarter way of handling Notes</p>
				<button class="btn bg-primary text-white">Get Start</button>
			</div>
		</div>
	</section>


</body>
</html>